body {
  padding-top: 0px;
  margin: 20px;
}
.starter-template {
  padding: 0px 0px;
  text-align: center;
}

/* featurette */
.featurette-divider {
  margin:10px 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

select {
  font-size: 16px;
}

.main {
	padding: 0px;
	margin-left: 10px;
	/*background-color: #eee*/
}


.row {
  margin-bottom: 0px;
}
.row .row {
  margin-top: 0px;
  margin-bottom: 0;
}

.row-padded {
	margin-top: 10px;
}

.nav-pills > li > a {
  line-height: 25px;
}

.alarm-gr{
  display:none;
}

.hidden-element{
  display:none;
}

[class*="col-"] {
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  /*background-color: #888;*/
  /*background-color: rgba(86,61,124,.10);*/
  /*padding-left: 5;*/
  border: 0px solid rgba(86,61,124,.2);
  color: #777;
}
.col-data {
	padding-left: 25px;
}

.footer {
  color: #777;
}

.graph-title {
  color: #777;
}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Custom nav */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #337ab7;
    color: #fff;
    border-radius: 4px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
}

.navbar-collapse.collapsing, .navbar-collapse.collapse.in {
    float:none;
}

.navbar-collapse {
  float:right;
}

.navbar-default .navbar-toggle {
    border-color: #2e6da4;
    background-color: #337ab7;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover  {
    border-color: #204d74;
    background-color: #286090;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand {
  float: left;
  padding: 3px;
}

.navbar-default {
  border: none;
  background-color: transparent;
}

input:invalid {
  color:red;
}

.warning-message {
  color:red;
}

.motor {
  width:100px; height:80px;
  display: inline-block;
  margin: 1em;
}


/*body {background: #eee;margin:50px;}*/
