# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# dat files
*.dat

# temp files
*~

# ignore thyself
.gitignore

# log files
*.log*

# project files
.cproject
.metadata
.project
.settings

# .d files
*.d

# .bin .hex .elf .map files
*.bin
*.hex
*.elf
*.map

# bin files
test/matrix/testmatrix
test/mergevec/mergevec
test/quaternion/testquat
source/sdrone/quadrotor
source/sdrone/sdroned
source/tools/alldata/alldata
source/tools/attitudefilter/attifilt
source/tools/axesdata/axesdata
source/tools/servo/servo
source/tools/glplane/glplane
source/tests/cmdargs/test_cmdargs
source/tests/jsonrpc/test_jsonrpc
source/http/obj/
source/jsonrpc/obj/
source/tests/base64/base64
source/tests/httpclient/test_httpclient
source/tests/httpserver/test_httpserver
source/libattitude/obj/
source/libcmdargs/obj/
source/libdevice/obj/
source/libhttp/obj/
source/libjsonrpc/obj/
source/libjsonspirit/obj/
source/liblogger/obj/
source/sensordata.dat_bak
source/sigmad/obj/
source/sigmad/sigmad
source/tests/matrix/testmatrix
source/tests/quaternion/testquat
source/tools/flightdeck/flightdeck
source/**/bin-x86
source/**/bin-arm

